
*.asv
*.aux
*.bak
*.bz2
*.cdr
*.class
*.csv
*.dat
*.doc
*.docx
*.dta
*.dvi
*.db
*.el
*.fig
*.gz
*.jar
*.jpeg
*.jpg
*.log
*.lst
*.mat
*.[oa]
*.out
*.pc
*.pdf
*.pgf
*.pic
*.png
*.prn
*.ps
*.psF
*.pyc
*.rpt
*.rss
*.sas7b*
*.temp
*.tikz
*.tmp
*.txt
*,v
*.xls
*.xlsx
*.zip
*.Z
.Rhistory
.Data
.java
spool

## LaTeX
*.lof
*.lot
*.fdb_latexmk
*.fls


## EMACS
*~
\#*
.\#*

.*rc
*.swp
